@import "tailwindcss";

body {
  background-color: #181818;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #8b5cf6;
  color: #e5e5e5;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}