@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import "tailwindcss";

@theme {
  --color-brawn-60: #ae9b84;
  --color-brown-70: #C2B4A3;
  --color-dark-06: #0f0f0f;
  --color-dark-10: #1a1a1a;
  --color-dark-12: #1f1f1f;
  --color-dark-15: #262626;
  --color-dark-25: #404040;
  --color-grey-70: #b3b3b2;
  --color-grey-40: #676665;
}

body {
  background-color: #181818;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.auto-text {
  color: color-mix(in oklab, var(--bg-color), black 70%);
}

.glow {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-shadow: rgba(255, 255, 255, 0.1) 0px 0px 2px,
    rgba(255, 255, 255, 0.3) 0px 0px 4px, rgba(255, 255, 255, 0.4) 0px 0px 8px,
    rgba(0, 0, 0, 0.8) 0px 0px 136px;
}

::selection {
  background-color: #8b5cf6;
  color: #e5e5e5;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.noCalendarIcon::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.copy:hover:before {
  content: url('https://api.iconify.design/solar/copy-broken.svg?height=16&color=white');
  position: absolute;
  top: -100%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.07);
  display: flex;
  height: 24px;
  width: 24px;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  border-radius: 0.25rem;
  transform: translateX(-50%);
  animation: fadeUp 500ms ease forwards;
  cursor: pointer;
}

.copyed:hover:before {
  content: url('https://api.iconify.design/solar/clipboard-check-broken.svg?height=16&color=white');
  position: absolute;
  top: -100%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.07);
  display: flex;
  height: 24px;
  width: 24px;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  border-radius: 0.25rem;
  transform: translateX(-50%);
  animation: fadeUp 500ms ease forwards;
  cursor: pointer;
}

/* animations classes*/

.fadeUp {
  animation: fadeUp 0.6s ease forwards;
  opacity: 0;
  filter: blur(10px);
  transform: translateY(10px);
}

.fadeDown {
  animation: fadeDown 0.6s ease forwards;
  opacity: 0;
  filter: blur(10px);
  transform: translateY(-10px);
}

.fadeLeft {
  animation: fadeLeft 0.6s ease forwards;
  opacity: 0;
  filter: blur(10px);
  transform: translateX(10px);
}

.fadeRight {
  animation: fadeRight 0.6s ease forwards;
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-10px);
}

/* animations */

@keyframes fadeUp {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}